<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@View.Title</title>
    </head>
    <body>
        <div class="header">
            @RenderSection("Header")
        </div>
    
        @RenderBody()
    
        <div class="footer">
            @RenderSection("Footer")
        </div>
    </body>
</html>
