<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
      <form method="post" action="">
         <fieldset>
            
            <legend>New Blog Post</legend>
            
            <div>
               <label for="Title">Title</label>
               <input type="text" name="Title" />
            </div>
            
            <div>
               <label for="Summary">Summary</label>
               <input type="text" name="Summary" />
            </div>
                     
            <div>
               <p><label for="Body">Body</label></p>
               <textarea cols="40" rows="10" name="Body">
               </textarea>
            </div>
            
            <div>
               <button type="submit">Add Post</button>
            </div>
                     
         </fieldset>
      </form>
   </body>
</html>